<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img src="DigitalCoach.png" alt="Logo" height="30" class="mr-2">
            ICS Tools
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" id="nav-home">
                    <a class="nav-link" href="index.html">Startseite</a>
                </li>
                <li class="nav-item" id="nav-generator">
                    <a class="nav-link" href="generator.html">Termine erstellen</a>
                </li>
                <li class="nav-item" id="nav-validator">
                    <a class="nav-link" href="validator.html">ICS Validator</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 