<script>
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="index.html" aria-label="Zur Startseite">
            <img src="Logo ICS Generator.png" alt="ICS Generator Logo" width="30" height="30" class="mr-2">
            <span>ICS Tools</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation ein/ausblenden">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" role="navigation">
                <li class="nav-item" id="nav-home">
                    <a class="nav-link" href="index.html" aria-current="page">Startseite</a>
                </li>
                <li class="nav-item" id="nav-generator">
                    <a class="nav-link" href="generator.html">Termine erstellen</a>
                </li>
                <li class="nav-item" id="nav-validator">
                    <a class="nav-link" href="validator.html">ICS Validator</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 